version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: banco_referencias_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - '9090:9090'
    networks:
      - banco_ref_network

  grafana:
    image: grafana/grafana:latest
    container_name: banco_referencias_grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - '3000:3000'
    depends_on:
      - prometheus
    networks:
      - banco_ref_network

volumes:
  prometheus_data:
  grafana_data:

networks:
  banco_ref_network:
    external: true

